* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.lnb {
  height: 50px;
  position: sticky;
  border-bottom: 2px solid #06f;
}

.lnb-list {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.lnb-item {
  border-right: 1px solid #eee;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lnb-item:last-child {
  border-right: none;
}

.lnb-item:hover {
  background-color: #06f;
  color: #fff;
}

.lnb-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
