* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 600px;
  height: 680px;
  background-color: #eee;
  border-radius: 10px;
  padding: 30px;
}

.color-picker-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-box {
  width: 520px;
  height: 520px;
  background-color: #709fb3;
  border-radius: 10px;
}
